$color-checked-bg: rgba(70, 190, 250, 0.5);
$color-checked-brd: rgba(70, 190, 250, 0.9);

.iv-wrapper {
  border: 1px solid $color-checked-brd;
  overflow-x: hidden;
  overflow-y: auto;

  .iv-item {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 2px;
    border-radius: 3px;
    transition: background-color 0.3s;

    &.checked {
      background: $color-checked-bg;
      border-color: $color-checked-brd;
    }
  }

  .iv-icon {
    width: 100%;
    height: 70%;
    background: transparent no-repeat;
    background-size: contain;
    background-position: 50% 0;
  }

  .iv-text {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 2px 0;
  }
}
