<div class="iv-wrapper" data-bind="foreach: items, attr: {style: 'width: '+ containerWidth + '; height:' + containerHeight}">

    <a class="iv-item"
       data-bind="css: {checked: checkedValue()},
            click: $root.itemClick,
            attr: {
                style: 'width: '+ $root.itemWidth + '; height:' + $root.itemHeight,
                title: text
            }"
    >
        <div class="iv-icon" data-bind="attr: {style: 'background-image: url('+ img +')'}"></div>
        <div class="iv-text" data-bind="text: text"></div>
    </a>

</div>