html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  font: 16px Tahoma, Helvetica, sans-serif;
  background: #fff; }

.btn-wrapper {
  display: block;
  overflow: hidden; }
  .btn-wrapper .btn {
    display: inline-block; }

.btn {
  cursor: pointer;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  padding: 7px 24px 7px 20px;
  border: 1px solid;
  border-radius: 3px;
  background-color: #fff;
  border-color: transparent; }
  .btn.btn-green {
    background-color: #82c130;
    color: #fff; }
    .btn.btn-green:hover {
      background-color: #9ccc4d; }

.widget-area {
  margin: 50px; }
  .widget-area .btn-wrapper {
    margin-bottom: 10px; }
