$font-default:  Tahoma, Helvetica, sans-serif;
$color-body: #fff;

$color-btn-text-default: #000;
$color-btn-bg-default: #fff;

$color-btn-text-green: #fff;
$color-btn-green: #82c130;
$color-btn-green-h: #9ccc4d;