@import 'vars';

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font: 16px $font-default;
  background: $color-body;
}

.btn-wrapper {
  display: block;
  overflow: hidden;

  .btn {
    display: inline-block;
  }
}
.btn {
  cursor: pointer;
  font-size: 14px;
  color: $color-btn-text-default;
  font-weight: 400;
  padding: 7px 24px 7px 20px;
  border: 1px solid;
  border-radius: 3px;
  background-color: $color-btn-bg-default;
  border-color: transparent;

  &.btn-green {
    background-color: $color-btn-green;
    color: $color-btn-text-green;
    &:hover {
      background-color: $color-btn-green-h;
    }
  }
}

.widget-area {
  margin: 50px;

  .btn-wrapper {
    margin-bottom: 10px;
  }
}

